# Admin
.vscode/
.archive/
.admin/
**/stats_checks.py
**/data/*.csv

# MacOS
.DS_Store

# IntelliJ
.idea/

# Jupyter notebooks
.ipynb_checkpoints/

# Outputs
/output/
**/output

# Python 
.venv/
**/__pycache__/
